Review and update JSON Web Token (JWT) payload

To follow good practice, and reduce payload size, properties in JSON Web Token should follow the JWT claims spec at https://www.iana.org/assignments/jwt/jwt.xhtml#claims

## JWT format

The current contents of a JWT created by next auth looks like this:

```js
{
  user: {
    name: 'Iain Collins',
    email: 'me@iaincollins.com',
    image: 'https://example.com/image.jpg',
    id: 1 // User ID will note be specified if used without a database
  },
  // The account object stores details for the authentication provider account 
  // that was used to sign in. It only contains exactly one account, even the 
  // user is linked to multiple provider accounts in a database.
  account: {
    provider: 'google',
    type: 'oauth',
    id: 3218529,
    refreshToken: 'cc0d32d79145091cd6cd8979f0a6d6b67d490899',
    accessToken: '931400799b4a980715bb55af1bb8e01d92316956',
    accessTokenExpires: null
  },
  isNewUser: true, // Is set to true if is first sign in
  iat: 1591150735, // Issued at
  exp: 4183150735  // Expires in
}
```

If we followed the JWT claims spec we would remap the properties and use namespacing for values not covered in the claims spec, and it might look something like this:

```js
{
  name: 'Iain Collins',
  email: 'me@iaincollins.com',
  picture: 'https://example.com/image.jpg',
  client_id: 1,
  "https://next-auth.js.org": {
    oauth_provider: 'google',
    oauth_client_id: 3218529,
    oauth_rt: 'cc0d32d79145091cd6cd8979f0a6d6b67d490899',
    oauth_at: '931400799b4a980715bb55af1bb8e01d92316956',
    oauth_at_exp: null,
    isNewUser: true,
  },
  iat: 1591150735, // Issued at
  exp: 4183150735  // Expires in
}
```

## Considerations

### Implementation

We could keep the current behaviour as is by default (to avoid a breaking change) and put it behind an option.

We could then make this option the default in a future release - which would be a breaking change.

e.g.

```js
jwt: {
  strict: true, // use claims structure (default: false - i.e. current behaviour)
  namespace: "https://next-auth.js.org", // where non-standard claims will be stored
  encrypt: true // to provide this as a simple option for those who need it for compatibility (default: true)
}
```

### Security

*  It's already possible to set custom encode/decode callbacks that define how both encryption and signing work, but a simple toggle for the default behaviour would make things easier for a lot of folks if they want to support interoperability with other services on the same domain and know that the information does not need to be hidden from the client (e.g. contains access levels, but not private keys, session tokens or passwords).
* JSON Web Tokens (RFC 7519 ) are themselves not encrypted when signed (RFC 7515), merely encoded and easily read - unless RFC 7516 (JWE) is also implemented. The default behaviour for NextAuth.js is - and is expected to remain - signing then encrypting, which is widely regarded as best policy, but how it is encrypted by default is under review.
* The method currently used to encrypt JSON Web Tokens is a symmetric-key algorithm using AES. It is recommended to specify a dedicated key for encryption and a secret for signing. If not specified, these are auto-generated from a hash of the configuration object (which itself contains secret tokens, making it a useful mechanism to predictably generate a secure private token). 
* NextAuth.js is an implementation of [RFC 7519]( https://tools.ietf.org/html/rfc7519) (JWT) and [RFC 7515](https://tools.ietf.org/html/rfc7515) (JWS) and then encrypt the entire message with AES. We do not currently implement [RFC 7516](https://tools.ietf.org/html/rfc7516) (JWE), but it is under consideration; the primary caveat being there are some implementation details it's crucial to get right if we go down this road. It would need to a be a point release as changing this mechanism would invalidate existing sessions, unless backwards compatibility was explicitly support.
* The most complete and commonly used implementation for Node.js seems to be [node-jose](https://www.npmjs.com/package/node-jose) from CISCO 
### Rotation

How the token is rotated may be worth reconsidering for those who want to pass tokens through to other services.

Currently tokens are updated on every access and the `iat` and `exp` are both reset when a token is rotated. This is by design, to allow for short lived tokens without impacting the user experience. 

It is unclear if there is a better way to do this and if the current usage is problematic.

* We could set `auth_time` on initial login to preserve the initial auth time
* We could preserve `iat` and just updating `exp` and `updated_at` - this seems the most obvious option, but would require some extra work due to behaviour of the current JWT library (that is why `iat` is currently reset on update).

### Resources

* https://tools.ietf.org/html/rfc7516 JSON Web Encryption (JWE)
* https://tools.ietf.org/html/rfc7515 JSON Web Signature (JWS)
* https://tools.ietf.org/html/rfc7518 JSON Web Algorithms (JWA)
* https://tools.ietf.org/html/rfc7517 JSON Web Key (JWK)
* https://tools.ietf.org/html/rfc7519 JSON Web Token (JWT)
* https://tools.ietf.org/html/rfc7520 Examples of Protecting Content Using JOSE


about rotation, maybe the best is to follow [OAuth 2.0 BCP](https://tools.ietf.org/html/draft-ietf-oauth-security-topics-13#section-4.12) also [explained by auth0](https://auth0.com/docs/tokens/concepts/refresh-token-rotation#automatic-reuse-detection)

@gagalago Thanks! That's worth investigating but I don't think is directly applicable to JWT handling in our case and is rather more related to general OAuth token provision. (Conceptually very relevant though.)

The toggle to activate the new JWT payload could be `jwt.legacyJWTPayload`. And set to true by default for now. The new 3.0 version could be used to activate it by default. Should the v3 should allow to use old payload? I'm not sure it worth it

@Spy-Seth Yeah, I would love to support that to make it easier to transition between releases but deprecating behaviour rather than cutting it, but as this is a small team it's probably better to make the call make it a hard switch so it doesn't slow us down from moving forward, as we don't have the numbers to overcome the drag providing backwards compatibility support for breaking changes would create.

The branch has been merged in and there will be a change log with a list of the breaking changes published at release.

Going to close this off now as these changes have been rolled into the v3 release!